.text {
  color: var(--color-gray-lighter);
}

.center {
  text-align: center;
}

.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
  color: var(--color-gray-lightest);
}

.xl {
  font: var(--font-xl);
  color: var(--color-gray-lightest);
}

.xxl {
  font: var(--font-xxl);
  color: var(--color-white);
}

.accent {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  color: var(--color-gray-lightest);
}

.serif {
  font-family: var(--font-family-serif);
}

.italic {
  font-style: italic;
}
