.button {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 12px 25px;
  font: var(--font-m);
  line-height: 19px;
  border-radius: 10px;
  transition: 150ms;
}

.singleIcon {
  width: 40px;
  padding: 12px;
}

.wrapper {
  display: flex;
  position: relative;
}

svg > path {
  transition: 150ms;
}

.primary {
  color: var(--color-black);
  background: var(--color-gray-lightest);

  &:hover {
    background: var(--color-white);
  }

  svg > path {
    fill: var(--color-black);
  }
}

.secondary {
  color: var(--color-gray-lighter);
  background: var(--color-gray-dark);

  svg > path {
    fill: var(--color-gray-lighter);
  }
}

.secondary:hover {
  color: var(--color-white);
  background: var(--color-gray-light);

  svg > path {
    fill: var(--color-white);
  }
}

.secondary:active {
  background: var(--color-gray-dark);
}

.clear {
  color: var(--color-white);

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}

.center {
  justify-content: center;
}
