.button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 10px 25px 11px;
  font: var(--font-s);
  line-height: 19px;
  border-radius: 10px;
  transition: 150ms;
}

.wrapper {
  position: relative;
}

.badge {
  $size: 20px;

  position: absolute;
  right: -12px;
  bottom: -12px;
  box-sizing: border-box;
  width: $size;
  height: $size;
  padding: 0 4px;
  font: var(--font-s);
  color: var(--color-black);
  text-align: center;
  background: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 50%;
}

.primary {
  color: var(--color-black);
  background: var(--color-gray);

  &:hover {
    background: var(--color-white);
  }
}

.clear {
  color: var(--color-white);
  background: transparent;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.5;
}

.full-width {
  width: 100%;
}
