.title {
  font-size: 64px;
  line-height: 77px;
  color: var(--color-white);
}

.grid {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  grid-template-rows: repeat(3, 1fr);
}

.row {
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  max-width: 350px;
  overflow: hidden;
}
