.focus {
  background: var(--color-black) !important;
  border-color: #141414;
}

.invalid {
  background: #260c0c !important;
  border-color: transparent !important;

  &,
  &::placeholder {
    color: red !important;
  }

  &:hover {
    border-color: red !important;
  }
}

.input {
  width: 100%;
  padding: 9px 14px 10px;
  font: var(--font-m);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  background: #1a1a1a;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 150ms, letter-spacing 0ms;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &:focus {
    background: var(--color-black);
    border-color: #141414;
  }

  &:-webkit-autofill {
    transition: all 100000000s;
  }
}

.wrapper {
  position: relative;
  max-width: 350px;

  &:hover {
    .input {
      border-color: var(--color-gray-light);
    }

    .invalid {
      border-color: red !important;
    }
  }
}

.password {
  padding-right: 40px;

  &:not(:placeholder-shown) {
    font-family: ui-monospace;
    letter-spacing: 6px;
  }
}

.showMods {
  padding-right: 40px;
}

.showMods2 {
  padding-right: 62px;
}

.passwordButton {
  color: #848484;
}

.customType {
  color: var(--color-white);
}

.disabled {
  opacity: 0.5;
}

.mods {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 19px;
  margin: auto 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.errorContainer {
  position: relative;
  display: inline-block;
  height: 42px;

  & > * {
    width: 42px;
    height: 42px;
    padding: 14px;
  }

  & > *:nth-last-child(2) {
    width: 48px;
  }
}

.tooltip {
  line-height: 40px;
  width: max-content;
  height: 42px;
  top: 0;
  pointer-events: none;
  position: absolute;
  background: #260c0c;
  border-radius: 12px;
  border: 2px solid red;
  color: red;
  opacity: 0;
  visibility: collapse;
  transition: left 150ms cubic-bezier(0, 0.7, 0.65, 1.25),
  opacity 150ms ease-out;
  padding: 0 12px;
  left: calc(100% - 100px);

  &::before {
    content: '';
    display: block;
    background: red;
    width: 12px;
    height: 2px;
    left: -14px;
    top: calc(50% - 1px);
    position: absolute;
  }
}

.tooltipVisible {
  opacity: 1;
  visibility: visible;
  left: calc(100% + 12px);
}

.center {
  text-align: center;
}

.top {
  &::before {
    display: block;
    content: attr(data-top);
    margin-bottom: 12px;
    font: var(--font-s);
    color: #848484;
  }
}

.file {
  display: none;

  &::file-selector-button {
    display: none;
  }
}

.fileLabel {
  cursor: pointer;
}
