.focus {
  background: var(--color-black) !important;
  border-color: #141414;
}

.hover {
  background: #1a1a1a !important;
  border-color: #848484 !important;
}

.invalid {
  background: #260c0c !important;
  border-color: transparent;
  color: red !important;
}

.input {
  width: 100%;
  padding: 9px 14px 10px;
  font: var(--font-m);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  background: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 150ms;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &:not(:placeholder-shown, .invalid) {
    border-color: #141414;
  }

  &:focus {
    background: var(--color-black);
    border-color: #141414;
  }
}

.wrapper {
  position: relative;
  max-width: 350px;

  &:hover {
    .input {
      border-color: #848484;
    }

    .invalid {
      border-color: red;
    }
  }
}

.password {
  padding-right: 40px;
}

.showMods {
  padding-right: 40px;
}

.showMods2 {
  padding-right: 62px;
}

.passwordButton {
  color: #848484;
}

.customType {
  color: var(--color-white);
}

.disabled {
  opacity: 0.5;
}

.mods {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  height: 19px;
  margin: auto 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.errorContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 26px);
  transform: translateX(-50%);
  left: 50%;
  padding: 9px 12px;
  background: #260c0c;
  border-radius: 6px;
  color: red;
  opacity: 0;
  visibility: collapse;
  transition: 150ms ease-out;
  width: max-content;
}

.tooltipVisible {
  opacity: 1;
  visibility: visible;
}

.center {
  text-align: center;
}
