.preview {
  display: flex;
  gap: 11px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.avatar {
  $size: 40px;

  width: $size;
  height: $size;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-l);
  font-weight: 400;
  text-align: center;
  transition: 500ms ease-out;
}

.light {
  color: var(--color-white);
}

.dark {
  color: var(--color-black);
}

.nameContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  overflow: hidden;
  color: var(--color-white);
  max-width: 299px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
