.header {
  backdrop-filter: blur(50px);
  border-bottom: 1px solid rgba(255 255 255 / 7%);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linksContainer {
  display: flex;
  gap: 35px;
  margin-left: 30px;
}

.icon {
  color: var(--color-white);
}

.button {
  $size: 60px;

  min-width: $size;
  width: $size;
  height: $size;
  padding: 0;
  justify-content: center;
  border-radius: 0;
}

.logo {
  height: 60px;
  padding: 20px;
  opacity: 1 !important;
}

.search {
  width: 300px;

  & > input {
    border-width: 1px;
    background: rgba(255 255 255 / 3%);

    &:hover {
      border-color: rgba(255 255 255 / 3%) !important;
    }
  }
}

.authorization {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}
