.container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: -100px;
  padding-right: 200px;
}

.legs {
  width: 280px;
}

.caption {
  margin-left: -70px;
  padding-top: 350px;
}
