.autoresize {
  resize: none;
  overflow: hidden hidden;
}

.textarea {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-lightest);
  font: var(--font-s);
}
