.wrapper {
  display: flex;
  position: relative;
}

.activeLine {
  display: none;
  width: 42px;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -19px;
  left: 0;
  margin: 0 auto;
  background: #d9d9d9;
}

.link {
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font: var(--font-s);
  line-height: 19px;
  border-radius: 10px;
  transition: 150ms;

  &.active {
    .activeLine {
      display: block;
    }
  }
}

.primary {
  padding: 10px 25px 11px;
  color: var(--color-black);
  background: var(--color-gray-lightest);

  &:hover {
    background: var(--color-white);
  }
}

.raw {
  color: #848484;

  &:hover {
    color: #949494;
  }
}

.clear {
  padding: 10px 25px 11px;
  color: var(--color-white);

  &:hover {
    opacity: 0.8;
  }
}

.navigation {
  color: var(--color-white);
  height: 60px;

  &:hover {
    opacity: 0.8;
  }
}

.fullWidth {
  width: 100%;
}

.center {
  justify-content: center;
}
