.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black-darkest);
  border: 3px solid var(--color-black-darkest);
  border-radius: 50%;
  color: var(--color-white);
  font: var(--font-s);
  font-size: 16px;

  &:hover {
    background: var(--color-gray-dark);
  }

  &.active {
    background: var(--color-black);
    border-color: var(--color-gray-dark);
  }
}
