.preview {
  overflow: hidden;
  display: flex;
  width: 100%;
  gap: 12px;
}

.list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wrapText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  color: var(--color-gray-lightest);
}

.subContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
