.preview {
  overflow: hidden;
  display: flex;
  width: 100%;
  gap: 11px;
}

.list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.nameContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wrapText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  color: var(--color-white);
}
