.badge {
  $size: 20px;

  width: $size;
  height: $size;
  position: absolute;
  right: -12px;
  bottom: -12px;
  box-sizing: border-box;
  padding: 0 4px;
  font: var(--font-s);
  color: var(--color-black);
  text-align: center;
  background: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 50%;
}
